@import url('https://fonts.googleapis.com/css?family=Raleway:500i');
* {
    padding: 0;
    margin: 0;
    border-width: 0px;
}

#nav-bar {
    width: 100%;
    background: rgb(0, 51, 51);
    color: rgb(102, 153, 153);
    height: 60px;
    font-family: 'Raleway', sans-serif;
}

#nav-bar div {
    width: 60%;
    height: 60px;
    margin: auto;
    box-sizing: border-box;
    line-height: 60px;
    position: relative;
}

#nav-bar>div * {
    display: inline-block;
}

#nav-bar ul {
    position: absolute;
    right: 0px;
    top: 0px;
}

#nav-bar h1 {
    font-size: 2rem;
}

.nav-btn {
    box-sizing: border-box;
    height: 60px;
    padding: 0px 20px 0px 20px;
    color: rgb(102, 153, 153);
    text-decoration: none;
}

.nav-btn:link,
.nav-btn:visited,
.nav-btn:hover,
.nav-btn:active {
    color: rgb(102, 153, 153);
    text-decoration: none;
}

.nav-btn-selected {
    border-bottom: 4pt solid rgb(255, 51, 51);
    color: rgb(255, 51, 51);
    background-color: rgb(153, 153, 153);
}